body {
  margin: 0;
}
.group{
  display: flex;
  flex-direction: column;
}
.item{
  flex: 1;
  margin: 10px;
}
form textarea {
  height: 100px;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 10px;
}
form button {
  border-radius: 10px;
  border: 0;
  background-color: #000;
  color: #fff;
}